<ion-view view-title=Insurance Agent Details>
  <ion-content>
  <div class="item item-body">

  <h3>Thanks for taking the insurance.
  Here is the details for the insurance Agent</h3>
  </div>
<div class="list card">

  <div class="item item-avatar">
    <img ng-src="{{scheme.img}}">
    <h2>Ramesh</h2>
  </div>

  <div class="item item-body">
    <h2> Phone </h2>
    <p>
     5464789012
    </p>
    <h2> Expected date of visit </h2>
    <p>
     12-Feb-2016
    </p>
  </div> 
  <a href="#/app/dashboard" class="button button-block button-calm" ng-click="takeScheme()">Go To Dashboard</button> 
</div>

      </ion-content>
    </ion-view>
    

